body {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
}
  font-weight: bold;
  height: 100%;
  line-height: 1;
  background: #121212;
  margin: 0;
}

// Some CSS from https://github.com/heybereket/bored.lol

p {
   font-family: Helvetica, Arial, sans-serif;
  font-color: black;
  font-size: 14px;
 align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: auto;
  max-width: 600px;
}
